<div class="jumbotron">
	<h1>Welcome to Q'n'A</h1>
	<p>This app is an attempt to answer to some of HTML, CSS, Javascript, jQuery, Ruby, SQL and other supporting technology questions.</p>
	<p>These are pre-interview questions from Kalkomey.</p>
	<a class="btn btn-lg btn-success" href="/questions" role="button">See questions here...</a>
</div>