<div class="media">
	<div class="media-left media-top">
		<img class = "img-circle" src="<%= asset_path( 'profile.JPG' ) %>" width="400" height="400">	
	</div>

	<div class="jumbotron media-body">
		<h1>Harish Upadhyayula</h1>
		<p class="lead">
			I graduated in 2006, with Bachelors in Computer Science and started my career writing web applications using HTML, CSS, Jacascript, jQuery, ASP.NET, C#, Microsoft SQL Server. Lately, I started using Ruby on Rails, MySQL, MongoDB, Memcached, Perl, Python. Mostly, dabbling with open source.
		</p>
		<p class="lead">
			I am a Sr. Software Engineer at DealerSocket Inc. I am working on a SaaS product called Inventory+, where we write software to help car dealers manage their inventory, appraisals, sell cars on eBay, analytics and more.
		</p>
		<p class="lead">
			Lately, I have been working with the mobile team and building RESTful services to support mobile product.
		</p>
		<p><a class="btn btn-md btn-success" href="https://hupadhyayula.github.io" role="button">Link to my website.</a></p>
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<h2>What I like</h2>
		<p>I enjoy reading, running and try <br> different beers and wine.</p>
	</div>
	<div class="col-lg-4">
		<h2>Some facts</h2>
		<p>I along with a team built an iPhone app called <br> JUXT and won the hackathon in the DFW area.</p>
		<a class="btn btn-default" href="http://ntc-dfw.org/ntx-apps-challenge-winners-2014/">View details »</a>
	</div>
	<div class="col-lg-4">
		<h2>Contact</h2>
		<p>You can reach me at:</p>
		<a class="btn btn-default" href="mailto:harish.upad@gmail.com">Email</a>
		<a class="btn btn-default" href="https://twitter.com/harishgeeth">Twitter</a>
	</div>
</div>